<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sessia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sessia.Properties.Settings.Sess1DBConnectionString"
            connectionString="Data Source=DESKTOP-D7LJCGN;Initial Catalog=Sess1DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Sessia.Properties.Settings.Sessia1ConnectionString"
            connectionString="Data Source=DESKTOP-D7LJCGN;Initial Catalog=Sessia1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Sessia.Properties.Settings.AviaConnectionString" connectionString="Data Source=TANYAPC;Initial Catalog=Avia;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sessia.Properties.Settings>
            <setting name="PIN" serializeAs="String">
                <value />
            </setting>
        </Sessia.Properties.Settings>
    </userSettings>
</configuration>